# basic python cache
__pycache__

# coverage
htmlcov
.coverage

# pytest
.pytest_cache
.env

# robot
log.html
output.xml
report.html
selenium-screenshot-*
geckodriver-*.log

# reference files
static/*.bib
