<body>
  {% extends "layout.html" %}
  {% block title %}Add reference{% endblock %}
  {% block content %}
  <br>
  {% for message in get_flashed_messages() %}
    <p>{{message}}</p>
  {% endfor %}
    <form action="/choose_reference">
        <label for="ref">Choose reference type:</label>
        <select id="ref" name="ref" required>
          <option value="" disabled selected hidden>Choose reference type...</option>
          <option value="book">Book</option>
          <option value="article">Article</option>
          <option value="website">Website</option>
        </select>
        <input type="submit" value="Select">
      </form>
    <br>
      {% if choice == "book" %}
      <form action="/add_reference" method="POST">
        <label for="key">Key:</label>
        <input type="text" name="key" id="key" required><br>
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" required><br>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required><br>
        <label for="year">Year:</label>
        <input type="text" name="year" id="year" pattern="[0-9]{1,4}" title="Please enter a valid year." required><br>
        <label for="publisher">Publisher:</label>
        <input type="text" name="publisher" id="publisher" required><br>
        <label for="address">Address:</label>
        <input type="text" name="address" id="address" required><br>
        <label for="category">Category:</label>
        <select id="category" name="category">
          <option value="0" selected>Choose category...</option>
          {% for cat in categories %}
          <option value="{{ cat.id }}">{{ cat.name }}</option>
          {% endfor %}
        </select><br>
        <input type="hidden" id="reftype" name="reftype" value="book">
        <input type="submit" value="Add reference">
    </form>
    
    {% elif choice == "article" %}
    <form action="/add_reference" method="POST">
      <label for="key">Key:</label>
      <input type="text" name="key" id="key" required><br>
      <label for="author">Author:</label>
      <input type="text" name="author" id="author" required><br>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required><br>
      <label for="year">Year:</label>
      <input type="text" name="year" id="year" pattern="[0-9]{1,4}" title="Please enter a valid year." required><br>
      <label for="journal">Journal:</label>
      <input type="text" name="journal" id="journal" required><br>
      <label for="volume">Volume:</label>
      <input type="text" name="volume" id="volume" pattern="[0-9]+" title="Please enter a positive number." ><br>
      <label for="pages">Pages:</label>
      <input type="text" name="pages" id="pages" pattern="\d+(--\d+)?" title="Please enter a single page or a page range (eg. 32 or 101--167)." ><br>
      <label for="category">Category:</label>
        <select id="category" name="category">
          <option value="0" selected>Choose category...</option>
          {% for cat in categories %}
          <option value="{{ cat.id }}">{{ cat.name }}</option>
          {% endfor %}
        </select><br>
      <input type="hidden" id="reftype" name="reftype" value="article">
      <input type="submit" value="Add reference">
    </form>

    {% elif choice == "website" %}
    <form action="/add_reference" method="POST">
      <label for="key">Key:</label>
      <input type="text" name="key" id="key" required><br>
      <label for="author">Author:</label>
      <input type="text" name="author" id="author" required><br>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required><br>
      <label for="year">Year:</label>
      <input type="text" name="year" id="year" pattern="[0-9]{1,4}" title="Please enter a valid year." required><br>
      <label for="url">Url:</label>
      <input type="text" name="url" id="url" pattern="^(http|https)://.*" title="Please enter a valid url" required><br>
      <label for="urldate">Urldate:</label>
      <input type="text" name="urldate" id="urldate" pattern="^\d{2}.\d{2}.\d{4}$" title="Please enter a date in DD.MM.YYYY." ><br>
      <label for="category">Category:</label>
        <select id="category" name="category">
          <option value="0" selected>Choose category...</option>
          {% for cat in categories %}
          <option value="{{ cat.id }}">{{ cat.name }}</option>
          {% endfor %}
        </select><br>
      <input type="hidden" id="reftype" name="reftype" value="misc">
      <input type="submit" value="Add reference">
    </form>
    {% else %}
     <div></div>
    {% endif %}
    <a href="/">Back to frontpage</a>
    {% endblock %}
    </body>
    
      
    
