
<body>
    {% extends "layout.html" %}
    {% block title %}Register{% endblock %}
    {% block content %}
    {% for message in get_flashed_messages() %}
      <p>{{message}}</p>
    {% endfor %}

  <form action="/login" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" class="button" value="Login">
    </form>
    <p>No account yet? <a class="nav" href="/register">Register new account</a></p>
    {% endblock %}
</body>