<body>
    {% extends "layout.html" %}
    {% block title %}Register{% endblock %}
    {% block content %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<form action="/register" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password1"></p>
<p>Confirm password:<br>
<input type="password" name="password2"></p>
<input class="button" type="submit" value="Register">
</form>

<a href="/">Back</a>
{% endblock %}
</body>