<body>
    {% extends "layout.html" %}
    {% block title %}View references{% endblock %}
    {% block content %}
<hr>
<div>
    <ol>
        <li>
            <p>Alber Einstein: <i>Zur Elektrodynamik bewegter K ̈orper. (German) [On the elect-
                rodynamics of moving bodies].</i> 1905 </p>
            {% for reference in references %}
                <p>{{ reference.author }} <i> {{ reference.title }}</i> {{ reference.year }}</p>
            {% endfor %}
        </li>
    </ol>
</div>
<a href="/">Back to frontpage</a>
{% endblock %}
</body>