<body>
    {% extends "layout.html" %}
    {% block title %}View references{% endblock %}
    {% block content %}
<hr>
<form action="/view_reference" method="POST">
<label for="category">Filter by category:</label>
<select id="category" name="category">
    <!--Made the value 0 beacuse the category id can never be 0-->
    <option value="0">Show all</option> 
    {% for cat in categories %}
    <option value="{{ cat.id }}">{{ cat.name }}</option>
    {% endfor %}
</select>
<input type="submit" value="Filter">
</form>
<h3>References:</h3>
<br>
<div>
    <ol>

            {% for reference in references %}
                <li>{{ reference.author }} <i> {{ reference.title }}</i> {{ reference.year }}</br>
                    <form action="/view_reference/delete" method="POST">
                        <input type="hidden" name="reference_key" value="{{ reference.key }}">
                        {% if reference.publisher %}
                            <input type="hidden" name="reference_type" value="book">
                        {% else %}
                            <input type="hidden" name="reference_type" value="article">
                        {% endif %}
                        <input type="submit" value="Delete this reference">
                    </form>
                </li>
            {% endfor %}

    </ol>
</div>
<p><a href="/view_reference/download">Download reference file</a></p>
<a href="/">Back to frontpage</a>
{% endblock %}
</body>

